# Setup this file when you want to create signed builds of the Desktop App
# Get the values from the "Apple Developer ID Certificate" secure note in 1Password
CSC_LINK="Base64 encoded P12 file"
CSC_KEY_PASSWORD="Password for the P12 file"
APPLE_ID="Apple ID"
APPLE_APP_SPECIFIC_PASSWORD="Apple App Specific Password"
APPLE_TEAM_ID="Apple Team ID"
