CLERK_SECRET_KEY=<Get from Clerk Dashboard (Scratch Development App) or another engineer>
INTEGRATION_TEST_USER_ID=user_31KEiMetcHKOtODOxcYSHeaRgDC
SMOKE_TEST_SERVER_URL=http://localhost:3020
FAKE_AIRTABLE_URL=http://localhost:4656
